In [ ]:
import yfinance as yf
import pandas as pd
#import mysql.connector as connector
import psycopg2

In [ ]:
#!pip install mysql-connector-python

## Importing data using yfinance

In [ ]:
stock = yf.Ticker("NVDA") 
stock_historical = stock.history(period="max", interval="1d")
df = pd.DataFrame(stock_historical)

## SQL Connection

In [ ]:
# try:
#     conn = connector.connect(user='root', password='123456', host='localhost', port='3306', database='my_db')
# except connector.Error as er:
#     print('Error code:', er.errorno)
#     print('Error msg:', er.msg)

In [ ]:
# mycursor = conn.cursor()

# mycursor.execute("SHOW TABLES")

# tables = [table[0] for table in mycursor.fetchall()]

# if 'stock_price' not in tables:
#     mycursor.execute("CREATE TABLE stock_price (Date DATE UNIQUE, Open FLOAT(24), High FLOAT(24), Low FLOAT(24), Close FLOAT(24), Volume FLOAT(24), Dividends FLOAT(24), Stock_Splits FLOAT(24))")
#     print("Table 'stock_price' created successfully.")
# else:
#     print("Table 'stock_price' already exists.")

In [ ]:
# df.describe()

In [ ]:
#df.set_index('Date', drop=True, inplace=True)

## POSTGRES

In [ ]:
conn = psycopg2.connect('postgresql://stock_price_g9q6_user:NxjC5lOyzg5HJftmjj49JUpYxLquARBl@dpg-d59ul99r0fns7381saug-a.singapore-postgres.render.com/stock_price_g9q6')
conn.autocommit = True
mycursor = conn.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS stock_price (Date DATE UNIQUE, Open FLOAT(24), High FLOAT(24), Low FLOAT(24), Close FLOAT(24), Volume FLOAT(24), Dividends FLOAT(24), Stock_Splits FLOAT(24))")

# tables = [table[0] for table in mycursor.fetchall()]

# if 'stock_price' not in tables:
#     mycursor.execute("CREATE TABLE stock_price (Date DATE UNIQUE, Open FLOAT(24), High FLOAT(24), Low FLOAT(24), Close FLOAT(24), Volume FLOAT(24), Dividends FLOAT(24), Stock_Splits FLOAT(24))")
#     print("Table 'stock_price' created successfully.")
# else:
#     print("Table 'stock_price' already exists.")

## Inserting data into sql table stock_price

In [ ]:
#sql ="INSERT INTO"

sql = "INSERT INTO stock_price (Date, Open, High, Low, Close, Volume, Dividends, Stock_Splits) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)" \
"ON CONFLICT (Date) DO NOTHING"

# Convert DataFrame to list of tuples without the index
tuples_list = list(df.itertuples(index=True, name=None))

#need to use executemany to insert multiple rows
mycursor.executemany(sql, tuples_list)

In [ ]:
#commit from the connection
conn.commit()

mycursor.close()
conn.close()