In [1]:
import yfinance as yf
import pandas as pd
import mysql.connector as connector
import psycopg2

In [2]:
#!pip install mysql-connector-python

## Importing data using yfinance

In [3]:
stock = yf.Ticker("NVDA")

In [4]:
stock_historical = stock.history(period="max", interval="1d")
stock_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1999-01-22 00:00:00-05:00,0.040111,0.044767,0.035575,0.037605,2714688000,0.0,0.0
1999-01-25 00:00:00-05:00,0.040589,0.042021,0.037605,0.041545,510480000,0.0,0.0
1999-01-26 00:00:00-05:00,0.042021,0.042857,0.037724,0.038321,343200000,0.0,0.0
1999-01-27 00:00:00-05:00,0.038440,0.039395,0.036291,0.038202,244368000,0.0,0.0
1999-01-28 00:00:00-05:00,0.038202,0.038440,0.037843,0.038082,227520000,0.0,0.0
...,...,...,...,...,...,...,...
2025-12-16 00:00:00-05:00,176.259995,178.490005,174.899994,177.720001,148588100,0.0,0.0
2025-12-17 00:00:00-05:00,176.100006,176.130005,170.309998,170.940002,222775500,0.0,0.0
2025-12-18 00:00:00-05:00,174.529999,176.149994,171.820007,174.139999,176096000,0.0,0.0
2025-12-19 00:00:00-05:00,176.669998,181.449997,176.339996,180.990005,324925900,0.0,0.0
2025-12-22 00:00:00-05:00,183.919998,184.160004,182.350006,183.690002,127300500,0.0,0.0

In [5]:
df = pd.DataFrame(stock_historical)

## SQL Connection

In [6]:
# try:
#     conn = connector.connect(user='root', password='123456', host='localhost', port='3306', database='my_db')
# except connector.Error as er:
#     print('Error code:', er.errorno)
#     print('Error msg:', er.msg)

In [7]:
# mycursor = conn.cursor()

# mycursor.execute("SHOW TABLES")

# tables = [table[0] for table in mycursor.fetchall()]

# if 'stock_price' not in tables:
#     mycursor.execute("CREATE TABLE stock_price (Date DATE UNIQUE, Open FLOAT(24), High FLOAT(24), Low FLOAT(24), Close FLOAT(24), Volume FLOAT(24), Dividends FLOAT(24), Stock_Splits FLOAT(24))")
#     print("Table 'stock_price' created successfully.")
# else:
#     print("Table 'stock_price' already exists.")

In [8]:
# df.describe()

In [9]:
#df.set_index('Date', drop=True, inplace=True)

## POSTGRES

In [10]:
conn = psycopg2.connect('postgresql://stock_price_78jd_user:RJtAfdorSK6ZmDiE43EocRK9JOxGn57M@dpg-d4lrugjuibrs7387h89g-a.singapore-postgres.render.com/stock_price_78jd')
conn.autocommit = True
mycursor = conn.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS stock_price (Date DATE UNIQUE, Open FLOAT(24), High FLOAT(24), Low FLOAT(24), Close FLOAT(24), Volume FLOAT(24), Dividends FLOAT(24), Stock_Splits FLOAT(24))")

# tables = [table[0] for table in mycursor.fetchall()]

# if 'stock_price' not in tables:
#     mycursor.execute("CREATE TABLE stock_price (Date DATE UNIQUE, Open FLOAT(24), High FLOAT(24), Low FLOAT(24), Close FLOAT(24), Volume FLOAT(24), Dividends FLOAT(24), Stock_Splits FLOAT(24))")
#     print("Table 'stock_price' created successfully.")
# else:
#     print("Table 'stock_price' already exists.")

## Inserting data into sql table stock_price

In [11]:
#sql ="INSERT INTO"

sql = "INSERT INTO stock_price (Date, Open, High, Low, Close, Volume, Dividends, Stock_Splits) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)" \
"ON CONFLICT (Date) DO NOTHING"

# Convert DataFrame to list of tuples without the index
tuples_list = list(df.itertuples(index=True, name=None))

#need to use executemany to insert multiple rows
mycursor.executemany(sql, tuples_list)

In [12]:
#commit from the connection
conn.commit()

mycursor.close()
conn.close()