In [5]:
import psycopg2
import pickle
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np

In [2]:
def load_model():
    with open("finalized_model.sav", "rb") as f:
        return pickle.load(f)  # Model loads only per request

In [3]:
db = 'postgresql://stock_price_78jd_user:RJtAfdorSK6ZmDiE43EocRK9JOxGn57M@dpg-d4lrugjuibrs7387h89g-a.singapore-postgres.render.com/stock_price_78jd'

In [6]:
conn = psycopg2.connect(db)
conn.autocommit = True
my_cursor = conn.cursor()
my_cursor.execute('Select * from price_sentiment')
result = my_cursor.fetchall()
data = pd.DataFrame(result, columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock_Splits', 'Score', 'Positive' , 'Negative', 'Neutral', 'Total_Sentiment'])
data.set_index('Date', drop=True,inplace=True)
data.drop(['Open', 'High', 'Low', 'Dividends', 'Stock_Splits', 'Score'], inplace=True, axis=1)
scaler = StandardScaler()
data_scaled = scaler.fit_transform(data)
input_data = data_scaled[-14: ,].reshape(1,14,6)
model = load_model()
prediction = model.predict(input_data)

arr = [prediction.flatten()[0],  prediction.flatten()[0], prediction.flatten()[0], prediction.flatten()[0], prediction.flatten()[0], prediction.flatten()[0]]

arr = np.array(arr).reshape(1,-1)

y_pred_future = scaler.inverse_transform(arr)[0][0]

1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 537ms/step

In [15]:
data.shape

(528, 6)

In [16]:
data.tail(14)

             Close       Volume  Positive  Negative  Neutral  Total_Sentiment
Date
2025-11-10  199.05  198897100.0         9         4       10         8.826087
2025-11-11  193.16  176483300.0         6         8       16         5.733333
2025-11-12  193.80  154935300.0        14         5        9        13.821428
2025-11-13  186.86  207423100.0         8         5       16         7.827586
2025-11-14  190.17  186591900.0         9         6       19         8.823529
2025-11-17  186.60  173628900.0         9         6       20         8.828571
2025-11-18  181.36  213598900.0         9         7       18         8.794118
2025-11-19  186.52  247246400.0        27         7       30        26.890625
2025-11-20  180.64  343504800.0        51        12       34        50.876290
2025-11-21  178.88  346926200.0         5        10       18         4.696969
2025-11-24  182.55  256618300.0         8         5       14         7.814815
2025-11-25  177.82  320600300.0         7        12        8         6.555555
2025-11-26  180.26  183852000.0        11         6       12        10.793103
2025-11-28  177.00  121332800.0         4         2       11         3.882353

In [9]:
input_data

array([[[ 1.79843123e+00, -7.23021186e-01,  7.57509722e-01,
          5.39486088e-01,  2.87993374e-01,  7.53071514e-01],
        [ 1.66586226e+00, -8.50020597e-01,  2.04817230e-01,
          2.07713065e+00,  1.25040161e+00,  1.85683813e-01],
        [ 1.68026704e+00, -9.72114276e-01,  1.67866387e+00,
          9.23897227e-01,  1.27592001e-01,  1.66950232e+00],
        [ 1.52406523e+00, -6.74711797e-01,  5.73278891e-01,
          9.23897227e-01,  1.25040161e+00,  5.69889409e-01],
        [ 1.59856494e+00, -7.92743997e-01,  7.57509722e-01,
          1.30830837e+00,  1.73160573e+00,  7.52602230e-01],
        [ 1.51821329e+00, -8.66193986e-01,  7.57509722e-01,
          1.30830837e+00,  1.89200710e+00,  7.53527221e-01],
        [ 1.40027417e+00, -6.39718937e-01,  7.57509722e-01,
          1.69271951e+00,  1.57120436e+00,  7.47206573e-01],
        [ 1.51641269e+00, -4.49067969e-01,  4.07366467e+00,
          1.69271951e+00,  3.49602084e+00,  4.06713939e+00],
        [ 1.38406880e+00,  9.63442373e-02,  8.49520461e+00,
          3.61477520e+00,  4.13762633e+00,  8.46748009e+00],
        [ 1.34445566e+00,  1.15730320e-01,  2.05863996e-02,
          2.84595292e+00,  1.57120436e+00, -4.44443569e-03],
        [ 1.42705806e+00, -3.95965604e-01,  5.73278891e-01,
          9.23897227e-01,  9.29598867e-01,  5.67546479e-01],
        [ 1.32059775e+00, -3.34355416e-02,  3.89048061e-01,
          3.61477520e+00, -3.28093718e-02,  3.36526338e-01],
        [ 1.37551596e+00, -8.08268615e-01,  1.12597138e+00,
          1.30830837e+00,  6.08796120e-01,  1.11393458e+00],
        [ 1.30214162e+00, -1.16251027e+00, -1.63644431e-01,
         -2.29336191e-01,  4.48394747e-01, -1.53891658e-01]]])

In [8]:
arr

array([[1.4229625, 1.4229625, 1.4229625, 1.4229625, 1.4229625, 1.4229625]],
      dtype=float32)

In [7]:
y_pred_future

np.float32(182.36804)